In [51]:
import pandas as pd

data1 = {
    'Número da Nota Fiscal': [1001, 1002, 1003, 1004, 1005],
    'Valor Total': [150.50, 300.00, 75.25, 500.80, 1000.00],
    'Emissor': ['Empresa A', 'Empresa B', 'Empresa A', 'Empresa C', 'Empresa B'],
    'Destinatário': ['Cliente 1', 'Cliente 2', 'Cliente 3', 'Cliente 4', 'Cliente 5'],
    'Quantidade': [10, 1, 5, 2, 3],
    'Impostos': [22.58, 45.00, 11.27, 75.12, 150.00],
    'Data da Auditoria': ['2023-06-10', '2023-07-15', '2023-08-20', '2023-09-25', '2023-10-30'],
    'Resultado da Auditoria': ['Aprovada', 'Aprovada', 'Reprovada', 'Aprovada', 'Reprovada'],
    'Data de Regularização': ['2023-06-12', '2023-10-10', '2023-08-25', '2023-09-26', '2023-11-05'],
    'Status de Regularização': ['', 'Regularizada', 'Regularizada', '', 'Pendente']
}

data2 = {
    'Número NF': [1001, 1002, 1004, 1003, 1006],
    'Data de Emissão': ['2023-01-10', '2023-02-15', '2023-03-20', '2023-04-25', '2023-05-30'],
    'Descrição dos Produtos/Serviços': ['Produto X', 'Serviço Y', 'Produto Z', 'Serviço X', 'Produto Y'],
    'Valor Unitário': [15.05, 300.00, 15.05, 250.40, 333.33],
    'Observações da Auditoria': ['', 'Produtos com valores corretos', 'Produtos com valores corretos', '', 'Produtos danificados'],
    'Ações Corretivas': ['', '', 'Correção dos valores dos produtos', '', 'Aumento da quantidade'],
}

# Criando o DataFrame
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [12]:
df1

,Número da Nota Fiscal,Valor Total,Emissor,Destinatário,Quantidade,Impostos,Data da Auditoria,Resultado da Auditoria,Data de Regularização,Status de Regularização
0,1001,150.50,Empresa A,Cliente 1,10,22.58,2023-06-10,Aprovada,,
1,1002,300.00,Empresa B,Cliente 2,1,45.00,2023-07-15,Aprovada,,Regularizada
2,1003,75.25,Empresa A,Cliente 3,5,11.27,2023-08-20,Reprovada,2023-08-25,Regularizada
3,1004,500.80,Empresa C,Cliente 4,2,75.12,2023-09-25,Aprovada,,
4,1005,1000.00,Empresa B,Cliente 5,3,150.00,2023-10-30,Reprovada,2023-11-05,Pendente

In [13]:
df2

,Número NF,Data de Emissão,Descrição dos Produtos/Serviços,Valor Unitário,Observações da Auditoria,Ações Corretivas
0,1001,2023-01-10,Produto X,15.05,,
1,1002,2023-02-15,Serviço Y,300.00,Produtos com valores corretos,
2,1004,2023-03-20,Produto Z,15.05,Produtos com valores corretos,Correção dos valores dos produtos
3,1003,2023-04-25,Serviço X,250.40,,
4,1006,2023-05-30,Produto Y,333.33,Produtos danificados,Aumento da quantidade

In [14]:
# Exercício 1: Realize um merge entre os dois DataFrames baseado no Número da Nota Fiscal. 
# Quantos registros resultam do merge?
pd.merge(df1, df2, left_on = 'Número da Nota Fiscal', right_on='Número NF')

,Número da Nota Fiscal,Valor Total,Emissor,Destinatário,Quantidade,Impostos,Data da Auditoria,Resultado da Auditoria,Data de Regularização,Status de Regularização,Número NF,Data de Emissão,Descrição dos Produtos/Serviços,Valor Unitário,Observações da Auditoria,Ações Corretivas
0,1001,150.50,Empresa A,Cliente 1,10,22.58,2023-06-10,Aprovada,,,1001,2023-01-10,Produto X,15.05,,
1,1002,300.00,Empresa B,Cliente 2,1,45.00,2023-07-15,Aprovada,,Regularizada,1002,2023-02-15,Serviço Y,300.00,Produtos com valores corretos,
2,1003,75.25,Empresa A,Cliente 3,5,11.27,2023-08-20,Reprovada,2023-08-25,Regularizada,1003,2023-04-25,Serviço X,250.40,,
3,1004,500.80,Empresa C,Cliente 4,2,75.12,2023-09-25,Aprovada,,,1004,2023-03-20,Produto Z,15.05,Produtos com valores corretos,Correção dos valores dos produtos

In [24]:
# Exercício 2: Combine os DataFrames e selecione apenas as colunas: "Data de Emissão", "Emissor", "Destinatário", "Valor Total".
df1.merge(df2, left_on = 'Número da Nota Fiscal', right_on='Número NF')[['Data de Emissão', 'Emissor','Destinatário', 'Valor Total']]

  Data de Emissão    Emissor Destinatário  Valor Total
0      2023-01-10  Empresa A    Cliente 1       150.50
1      2023-02-15  Empresa B    Cliente 2       300.00
2      2023-04-25  Empresa A    Cliente 3        75.25
3      2023-03-20  Empresa C    Cliente 4       500.80

In [16]:
# Exercício 3: Calcule o total de vendas realizadas por cada emissor onde o Valor da NF é superior a 200. 
df_merge = pd.merge(df1, df2, left_on = 'Número da Nota Fiscal', right_on='Número NF', how='left')
df_merge

,Número da Nota Fiscal,Valor Total,Emissor,Destinatário,Quantidade,Impostos,Data da Auditoria,Resultado da Auditoria,Data de Regularização,Status de Regularização,Número NF,Data de Emissão,Descrição dos Produtos/Serviços,Valor Unitário,Observações da Auditoria,Ações Corretivas
0,1001,150.50,Empresa A,Cliente 1,10,22.58,2023-06-10,Aprovada,,,1001.0,2023-01-10,Produto X,15.05,,
1,1002,300.00,Empresa B,Cliente 2,1,45.00,2023-07-15,Aprovada,,Regularizada,1002.0,2023-02-15,Serviço Y,300.00,Produtos com valores corretos,
2,1003,75.25,Empresa A,Cliente 3,5,11.27,2023-08-20,Reprovada,2023-08-25,Regularizada,1003.0,2023-04-25,Serviço X,250.40,,
3,1004,500.80,Empresa C,Cliente 4,2,75.12,2023-09-25,Aprovada,,,1004.0,2023-03-20,Produto Z,15.05,Produtos com valores corretos,Correção dos valores dos produtos
4,1005,1000.00,Empresa B,Cliente 5,3,150.00,2023-10-30,Reprovada,2023-11-05,Pendente,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_merge[df_merge['Valor Total'] > 200]['Emissor'].value_counts()

Empresa B    2
Empresa C    1
Name: Emissor, dtype: int64

In [28]:
# Exercício 4: Quais NF possuem o Valor Total divergente do Valor Unitário * Quantidade?
df_merge = df1.merge(df2, left_on = 'Número da Nota Fiscal', right_on='Número NF')

In [30]:
df_merge['Valor Real'] = df_merge.apply(lambda x: x['Valor Unitário'] * x['Quantidade'], axis=1)

In [33]:
df_merge[df_merge['Valor Total'] != df_merge['Valor Real']]

,Número da Nota Fiscal,Valor Total,Emissor,Destinatário,Quantidade,Impostos,Data da Auditoria,Resultado da Auditoria,Data de Regularização,Status de Regularização,Número NF,Data de Emissão,Descrição dos Produtos/Serviços,Valor Unitário,Observações da Auditoria,Ações Corretivas,Valor Real
2,1003,75.25,Empresa A,Cliente 3,5,11.27,2023-08-20,Reprovada,2023-08-25,Regularizada,1003,2023-04-25,Serviço X,250.40,,,1252.0
3,1004,500.80,Empresa C,Cliente 4,2,75.12,2023-09-25,Aprovada,,,1004,2023-03-20,Produto Z,15.05,Produtos com valores corretos,Correção dos valores dos produtos,30.1

In [52]:
# Exercício 5: Crie uma nova coluna chamada "Diferença entre Datas" que calcule a diferença em dias entre "Data da Auditoria" e 
# "Data de Regularização" somente das notas presentes em ambas os DataFrames.
df_merge = df1.merge(df2, left_on = 'Número da Nota Fiscal', right_on='Número NF')

In [53]:
df_merge['Data da Auditoria'] = pd.to_datetime(df_merge['Data da Auditoria'])
df_merge['Data de Regularização'] = pd.to_datetime(df_merge['Data de Regularização'])

In [54]:
df_merge['Data de Regularização'] - df_merge['Data da Auditoria']

0    2 days
1   87 days
2    5 days
3    1 days
dtype: timedelta64[ns]